.report-main {
  height: 100%;
  width: 100%;
  display: flex;
}

.left-part {
  width: 30%;
  height: 100vh;
  border: 3px solid #eee;
  border-top: transparent;
}

.report-title {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  border-bottom: 3px solid #eee;
  text-decoration: none;
  height: 50px;
}

.center-part {
  width: 30%;
  height: 100vh;
  border: 3px solid #eee;
  border-top: transparent;
}

.right-part {
  width: 40%;
  height: 100vh;
  border: 3px solid #eee;
  border-top: transparent;
}